<div>
  <h3>About</h3>
  <p>
    /* Vessels */ is a system for collecting and sharing trauma-informed activist practices that focus on grieving and healing. It offers an opportunity to explore the gap as a space for both mourning and life.
  </p>
  <p>
    Contributions are collected in a <span class="redacted"></span> that circulates between communities with established trust.
  </p>
  <p>
    The core values of /* Vessels */ lie in its resilience against internet suppression, censorship, and cyber attacks, ensuring the continued dissemination of information. Just as a local publisher may face downtime or a bookstore struggles with physical space, /* Vessels */ envisions itself as a portable library. People can persistently contribute to this repository, ensuring the preservation and accessibility of knowledge and information, regardless of external challenges. The shared stories, ideas and knowledges are discreetly distributed within a trusted network.
  </p>
  <h3>Network Structure</h3>
  <img src="/images/network_01.png" alt="Cropped diagram of network structure." />
  <ol>
    <li>
      The project starts with <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span> in the United States and Southeast Asia. /* Vessels */ has <span class="redacted"></span> members in each country to initiate the first patch of V.O1 <span class="redacted"></span><span class="redacted"></span>.
    </li>
  </ol>
  <img src="/images/network_02.png" alt="Cropped diagram of network structure." />
  <ol start="2">
    <li>
      <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span> <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span> who received the first patch of <span class="redacted"></span><span class="redacted"></span> (V.O1) are free to copy, modify, and distribute the content, making it an unique iteration of the version.
    </li>
    <li>
      <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span> to meet, communicate, propose ideas for curated community gatherings etc. <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span> would curate and publish the content for the following two-month patch of <span class="redacted"></span> (v.O2). The updates will be also be released on https://vessles.directory.
    </li>
  </ol>
  <img src="/images/network_03.png" alt="Diagram of network structure." />
  <ol start="4">
    <li>
      <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span>, there will be updated <span class="redacted"></span><span class="redacted"></span> released among the network, with the increase amont of /* Vessels */ members discretely sharing information.
    </li>
  </ol>
  <h3>How to Join the Network</h3>
  <p>
    /* Vessels */ strives for building a <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span> that strikes between welcoming new members with a balance of inclusivity and trust. Individuals are free to share the contents of the <span class="redacted"></span><span class="redacted"></span>, and are also welcome to become /* Vessels */ <span class="redacted"></span> members.
  </p>
  <p>
    To join the /* Vessels */ <span class="redacted"></span> member network:
  </p>
  <ol>
    <li>
      <strong>Referrals:</strong><br>
      To become prospective member, one must be referred by <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span>. This referral system underscores the importance of trust and in-person connection.
    </li>
    <li>
      <strong>Trial Period:</strong><br>
      Prospective members are encouraged to participate actively by attending a minimum of <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span>. During this trial period, active engagement in meetings and discussions is expected. This allows both the individual and the existing members to gauge compatibility and alignment of values.
    </li>
    <li>
      <strong>Vote:</strong><br>
      A vote will be executed after <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span>. At least <span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span><span class="redacted"></span> must vote in favor of the prospective member's inclusion. This democratic approach ensures that /* Vessels */ actively shapes its composition and members maintains a shared vision.
    </li>
  </ol>
</div>